<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Nimbble</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href="/static/bstrap/css/bootstrap.min.css" rel="stylesheet">
    {% load compressed %}
    {% compressed_css 'application' %}
    {% block css %} {% endblock %}
  </head>
  <body>
    <div id="wrap">
      <aside class="sidebar">
        <ul class="navigation">
          <li class="{% firstof control.login %}">
            <a href="{% url webui:login %}">Login</a>
          </li>
          <li class="{% firstof control.signup %}">
            <a href="{% url webui:signup %}">Signup</a>
          </li>
          <li class="logo {% firstof control.home %}">
            <a href="{% url webui:main_employee %}">Home</a>
          </li>
          <li class="feed {% firstof control.group %}">
            <a href="{% url webui:main_employee %}">Activity</a>
          </li>
          <li Class="stats {% firstof control.stats %}">
            <a href="{% url webui:stats %}">Stats</a>
          </li>
          <li class="trackers {% firstof control.trackers %}">
            <a href="{% url webui:trackers %}">Trackers</a>
          </li>
          <li class="user">
            <div class="img-wrapper">
              <!-- <div class="hex-badge small">50</div> -->
              <img class="profile-image medium" src="/static/images/128.png"></img>
            </div>
            <a href="{% url webui:user %}" class="employee">{{ control.user.name }}</a>
            <a href="{% url webui:group %}" class="dept">{{ control.user.group }}</a>
          </li>
        </ul>
      </aside>
      <div id="content">
        {% block content %} {% endblock %}
      </div>
    </div>




    {% csrf_token %}



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!--script src="/static/bstrap/js/bootstrap.min.js"></script>
    <script src="/static/bstrap/js/docs.min.js"></script-->

    {% block scripts %} {% endblock %}
  </body>
</html>
