{% extends "base.html" %}
{% block css %}
    <link href="/static/css/rides.css" rel="stylesheet">
{% endblock %}

{% block header-links %}
<li class="active"><a href="{% url webui:cities %}">Cities</a></li>
{% endblock %}

{% block content %}

<section id="locations" class="section section-center section-team" data-location-id="{{ location.id }}">
    <div class="container">
        <h1 class="section-title"><span>Cities Available</span></h1>

        {% for location in locations %}
        <div clas="records ui-city" data-location-id="{{ location.id }}"><h2><a href="{% url webui:loc_challenges location.id %}">{{ location.name }}, {{ location.state }}</a></h2></div>
        {% endfor %}
    </div>
</section>
{% endblock %}