{% extends "base.html" %}

{% block header-links %}
<!--li class="{% firstof control.login %}"><a href="{% url webui:login %}">Login</a></li-->
<li class="{% firstof control.signup %}"><a href="{% url webui:signup %}">Signup</a></li>
{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pretium, massa id finibus euismod, orci nulla mattis nibh, vulputate lobortis eros ex quis eros. Vivamus vitae lacinia purus, quis fringilla purus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean neque augue, rutrum a faucibus nec, rutrum vitae mi. Fusce ullamcorper suscipit faucibus. Quisque dapibus neque purus, vel tempor arcu efficitur ut. Nullam rhoncus nulla ullamcorper, fringilla ligula sit amet, tempus justo. Aliquam eu mattis nisl. Nulla volutpat massa sed elementum maximus.</p> 
  </div>
</div>

{% endblock %}