{% extends "base.html" %}
{% block content %}
<header class="header">
  <h1>
    Daily feed <em>for</em> <strong>Infinite Energy</strong>
    <small>Showing activity for {{ group_name }}</small>
  </h1>
</header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 margin-top">
      <div class="card">
        <ul class="feed">
          {% for activity in activities %}
            {% include "activity_row.html" %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}