{% extends "base.html" %}

{% block header-links %}
<li class="{% firstof control.trackers %}"><a href="{% url webui:trackers %}">Trackers</a></li>
{% endblock %}

{% block content %}


<div class="container-fluid">
    <div class="row ui-header"></div>
    <!-- Main component for a primary marketing message or call to action -->
    <div class="row">
        <div class="row col-md-6 ui-feed">
            <div class="col-md-12">
                {% for activity in recent %}
                    <div class="row ui-activity js-activity">
                        <div class="ui-info">{{ activity.user.name }} - {{ activity.datetime }}</div>
                        <div class="col-md-4">
                            <div>{{ activity.type }}</div>
                            <div><a href="#">{{ activity.source }}</a></div>
                        </div>
                        <div class="col-md-4">
                            <div>{{ activity.distance }}</div>
                            <div>Distance</div>
                        </div>
                        <div class="col-md-4">
                            <div>{{ activity.duration }}</div>
                            <div>Duration</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>

</div>

{% endblock %}