{% extends "base.html" %}

{% block scripts %}
    <script data-main="/static/js/stats" src="/static/js/lib/require.js"></script>
{% endblock %}

{% block css %}
    {% load compressed %}
    {% compressed_css 'stats' %}
{% endblock %}

{% block content %}
  <header class="header">
    <h1>
      Stats
      <small></small>
    </h1>
  </header>
  <div class="container-fluid">
    <div class="row">
      <div class="js-stats-container col-md-12" data-load="demo,dynamic">
        <div class="row js-stats" data-stats="main"></div>
        <div class="card margin-top js-sim-container">
          <div class="js-chart-container padding"></div>
          <div class="js-dynamic-chart call-out-top"></div>
        </div>
        <div class="js-weekly-indicator ui-weekly-indicator"></div>
        <div class="js-dynamic-feed"></div>
      </div>
    </div>
  </div>
{% endblock %}