{% extends "base.html" %}
{% block css %}
<link href="/static/css/tracker.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container">
    <!-- Main component for a primary marketing message or call to action -->
    <h1>{{ tracker_name }}</h1>
    <section>
        <h3>Athlete Info</h3>
        {% include athlete_template %}
    </section>

    <section>
        <h3>Activities - {{ activities|length }}</h3>
        {% include data_template %}
    </section>
</div>
{% endblock %}
{% block scripts %}
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="/static/bstrap/js/bootstrap.min.js"></script>
{% endblock %}