{% extends "base.html" %}

{% block header-links %}
<li class="{% firstof control.trackers %}"><a href="{% url webui:trackers %}">Trackers</a></li>
{% endblock %}

{% block content %}

<div class="container">
    <!-- Main component for a primary marketing message or call to action -->
    <h2>Available trackers:</h2>
    <table class="table">
          <thead>
            <tr>
              <th>Active</th>
              <th>Name</th>
              <th>Sample</th>
            </tr>
          </thead>
          <tbody>
            {% for tracker in trackers %}
                <tr>
                  <td>{{ tracker.active|yesno:'yes,no' }}</td>
                  <td><a href="{{ tracker.auth_url }}">{{ tracker.name }}</a></td>
                  {% if tracker.active %}
                      <td><a href="{{ tracker.sample_url }}">sample</a></td>
                  {% else %}
                      <td></td>
                  {% endif %}
                </tr>
            {% endfor %}

          </tbody>
    </table>
</div>

{% endblock %}