{% extends "base.html" %}
{% block content %}
<header class="header">
  <h1>
    Available trackers
    <small>Dont see your favorite fitness tracker? <a href="#">Let us know</a>.</small>
  </h1>
</header>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card margin-top">
        <table class="table">
          <thead>
            <tr>
              <th>Active</th>
              <th>Name</th>
              <th>Sync</th>
              <th>Sample</th>
            </tr>
          </thead>
          <tbody>
            {% for tracker in trackers %}
                <tr>
                  <td>{{ tracker.active|yesno:'yes,no' }}</td>
                  <td><a href="{{ tracker.auth_url }}">{{ tracker.name }}</a></td>
                  {% if tracker.active %}
                      <td><a href="{{ tracker.sync_url }}">sync</a></td>
                      <td><a href="{{ tracker.sample_url }}">sample</a></td>
                  {% else %}
                      <td></td>
                      <td></td>
                  {% endif %}
                </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}