{% extends "base.html" %}


{% block scripts %}
    <script data-main="/static/js/stats" src="/static/js/lib/require.js"></script>
{% endblock %}

{% block css %}
    {% load compressed %}
    {% compressed_css 'stats' %}
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-5">
      <div class="card profile margin-top">
        <img class="profile-image medium" src="{{ nimbbleUser.picture }}">
        <div class="cover">
          <img src="http://placeimg.com/1000/1000/nature"/>
        </div>
        <ul class="list">
          <li class="call-out">
            <h1>
            {{ nimbbleUser.name }}
              <small class="block">
                <em>Can't stop won't stop</em>
              </small>
            </h1>
          </li>
          <li>
            <h3>About me</h3>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis, augue a aliquet sodales, lorem sem egestas neque, in sodales purus justo ut nisi. Phasellus nec varius sem. Curabitur ac sem libero. Donec sed justo feugiat, hendrerit nisi sed, commodo eros.
            </p>
          </li>
        </ul>
      </div>
      <div class="card margin-top">
        <ul class="feed">
          {% for activity in activities %}
            {% include "activity_row.html" %}
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="js-stats-container col-md-7" data-type="user" data-group="{{ nimbbleId }}" data-load="demo">
      <div class="row js-stats"></div>
      <div class="card margin-top js-sim-container">
        <div class="js-chart-container padding"></div>
        <div class="js-weekly-indicator call-out-top"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}