
/* General/Typography */

body {
  font-family: Lato,Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #666;
  background: #ecf2f6;
}

a,
a:visited {
  text-decoration: none;
  color: #49b2fb;
  transition: color 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out;
  -ms-transition: color 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out;
  -webkit-transition: color 0.25s ease-in-out;
}

a:hover { 
  color: #3f8bc3; 
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}

h1 { font-size: 30px; }
h2 { font-size: 24px; }
h3 { font-size: 16px; }
h4 { font-size: 14px; }
h5 { font-size: 12px; }
h6 { font-size: 10px; }

h3,
h4,
h5 {
  margin-top: 5px;
  font-weight: 600;
}

/* Login */

.login-wrapper {
  padding: 10%;
  margin: 0%;
  display: block;
}

.login-box {
  position: relative;
  display: block;
  max-width: 500px;
  margin: 0 auto;
  padding: 44px 20px 40px 20px;
}

/* Forms */

::-webkit-input-placeholder { color: #999!important; }
:-moz-placeholder { color: #999!important; }
::-moz-placeholder { color: #999!important; }
:-ms-input-placeholder { color: #999!important; }

fieldset.form-group {
  display: block;
  margin-bottom: 15px;
}

label {
  display: block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

.form-control {
  display: block;
  width: 100%;
  background: #fff;
  background-image: none;
  border: 1px solid #dfe5e9;
  padding: 6px 12px;
  -webkit-border-radius: 0;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.form-control:focus { border-color: #3498db; }

a.btn,
.btn {
  font-weight: 300;
  transition: all 0.2s ease;
  text-shadow: 0 1px 0 rgba(0,0,0,0.01);
  border: 0px;
  border-radius: 0;
  -webkit-border-radius: 0;
}

.btn-primary {
  color: #fff;
  background: #1ab394;
}

.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary {
  background-color: #18a689;
}

/* Profile */

.card.profile:before { display: none; }

.profile img.profile-img {
  position: absolute;
  top: 25%; 
  margin-right: auto;
  margin-left: auto;
  left: 0; 
  right: 0;
}

.profile .cover {
  overflow: hidden;
  background-size: cover;
  width: 100%;
  height: 245px;
  background: #f7f7f7;
  border-bottom: 4px solid #e74c3c;
}

.profile .cover img {
  display: block;
  max-width: 100%;
  height: auto;
}

.profile img.profile-image.medium {
  position: absolute;
  top: 75px; 
  left: 0; 
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 100px;
}

.profile h1 {
  padding: 0;
  margin: 0;
  display: block;
  text-align: center;
}

.profile h1 small { 

}


/* Tables */

.table > thead > tr > th, 
.table > tbody > tr > th, 
.table > tfoot > tr > th,
.table > thead > tr > td, 
.table > tbody > tr > td, 
.table > tfoot > tr > td {
  border-color: #e5ebf0; 
}

/* Components */

ul.list,
ul.feed {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul.list li.call-out { 
  background: #f7f7f7; 
  border-bottom: 1px solid #f3f3f3;
}

ul.list li,
ul.feed li {
  position: relative;
  display: block;
  margin: 0;
  padding: 15px;
  border-bottom: 1px solid #f3f3f3;
}

ul.feed li { 
  min-height: 75px;
  padding-left: 80px; 
}

ul.feed li img.profile-image  {
  position: absolute;
  top: 15px;
  left: 15px;
}

ul.feed li.empty-set p { margin-top: 15px; } 

ul.feed li:last-child { border-bottom: 0; }

ul.feed li h4.user,
ul.feed li h4.date {
  margin: 0;
  padding: 0;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 16px;
  width: auto;
}

ul.feed li h4.user { font-weight: bold; }
ul.feed li span.date { margin-left: 5px; }

ul.feed li ul.stats li { text-align: left; }
ul.feed li ul.stats li:first-child { padding-left: 0; }

ul.stats {
  font-size: 0px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul.stats li {
  height: auto;
  min-height: 40px;
  vertical-align: top;
  text-align: center;
  padding: 0 10px 0 10px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  border-width: 0 0 0 1px;
  border-style: solid;
  border-color: #f3f3f3;
}

ul.stats li:first-child { border-left: 0; }

ul.stats li .name, 
ul.stats li .value {
  font-size: 14px;
  display: block;
}

ul.stats li .value { font-weight: bold; }

/* Misc/Helper Classes */

.card {
  position: relative;
  background: #fff;
  border: 1px solid #dfe5e9;
  -webkit-box-shadow: 0 0 12px 0 #dfe5e9;
  box-shadow: 0 0 12px 0 #dfe5e9;
}

.card:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  content: '';
  height: 4px;
  display: block;
  background: #e74c3c;
}

.card .call-out,
.card .call-out-top {
  padding: 15px;
  margin: 0;
  background: #f7f7f7;
  border-bottom: 1px solid #f3f3f3;
}

.card .call-out-top {
  border-top: 1px solid #f3f3f3;
  border-bottom: 0;
}

.card .call-out h2 {
  padding: 0;
  margin: 0;
}

.card.stat { 
  margin: 0 auto; 
  padding: 20px;
  text-align: center;
}

img.profile-image {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  // -webkit-box-shadow: 0 1px 1px rgba(255,255,255,0.25),inset 0 2px 3px rgba(0,0,0,0.35);
  // -moz-box-shadow: 0 1px 1px rgba(255,255,255,0.25),inset 0 2px 3px rgba(0,0,0,0.35);
  // box-shadow: 0 1px 1px rgba(255,255,255,0.25),inset 0 2px 3px rgba(0,0,0,0.35);
}

img.profile-image.mico {
  height: 28px;
  width: 28px;
}

img.profile-image.small {
  height: 48px;
  width: 48px;
}

img.profile-image.medium {
  height: 79px;
  width: 79px;
}

img.profile-image.large {
  height: 128px;
  width: 128px;
} 

/* Badge */

.hex-badge {
  position: relative;
  text-align: center;
  letter-spacing: -.5px;
  width: 40px;
  color: #fff;
  height: 23.09px;
  line-height: 23.09px;
  background-color: #e74c3c;
  margin: 11.55px 0;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  box-shadow: 0 0 12px rgba(0,0,0,.10);
  -webkit-box-shadow: 0 0 12px rgba(0,0,0,.10);
}

.hex-badge:before,
.hex-badge:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.hex-badge:before {
  bottom: 100%;
  border-bottom: 11.55px solid #e74c3c;
}

.hex-badge:after {
  top: 100%;
  width: 0;
  border-top: 11.55px solid #e74c3c;
}

.hex-badge.small {
  position: relative;
  width: 30px; 
  height: 17.32px;
  line-height: 17.32px;
  margin: 8.66px 0;
}

.hex-badge.small:before,
.hex-badge.small:after {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}

.hex-badge.small:before { border-bottom: 8.66px solid #e74c3c; }
.hex-badge.small:after { border-top: 8.66px solid #e74c3c; }



.block { display: block; }

.margin-top { margin-top: 20px; }

.padding { padding: 20px; }
.padding-bottom { padding-bottom: 20px; }

.text-center { text-align: center; }