
.bar {
  fill: #d6d6d6;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 16px sans-serif;
  font-weight: bold;
  fill: #818181;
}

.axis path,
.axis line {
  fill: none;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.tick.minor line{
    stroke: #ccc;
    stroke-width: 2;
    stroke-dasharray: 5,5;
}

.ui-over-goal{
    fill: #98cc2d;
}


.ui-stat{
    padding: 20px;
    margin: 5px;
    border: 2px solid #ccc;
    background: #FFF;
}

.ui-stat-value{
    font-size: 35px;
    font-weight: bold;
}

.ui-stat-change{
    font-size: 20px;
    padding-left: 15px;
}

.ui-stat-change.positive{
    color: #46B466;
}

.ui-stat-change.negative{
    color: #c93744;
}

.brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}

.brush .resize path {
  fill: #eee;
  stroke: #666;
}
